<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MapName" value="TEST.dat"/>
    <add key="ImagePath" value="D:\Temp\Images"/>
    <add key="MachineName" value="localhost"/>
  </appSettings>
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name ="netTcpBinding_IBombermanService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://WP0483:7900/CallbackService"
                binding="netTcpBinding"
                contract="Common.Interfaces.IBombermanService"
                bindingConfiguration="netTcpBinding_IBombermanService"
                name ="netTcpBinding_IBombermanService"/>
      --><!--<endpoint address="http://localhost:7900/CallbackService" 
                  binding="wsDualHttpBinding"
                  contract="Common.Interfaces.IBombermanService"
                  bindingConfiguration="WSDualHttpBinding_IBombermanService"
                  name ="WSDualHttpBinding_IBombermanService"/>--><!--
    </client>
  </system.serviceModel>-->
</configuration>